# .venv
# venv
# __pycache__
# *.pyc
# *.pyo
# *.pyd
# .vscode

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints/

# Datasets
*.csv
*.json

# Hidden system files
.DS_Store
Thumbs.db

# VS Code config
.vscode/

# Embedded repo
Cybersheildcopy/


